.reminder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminder-left {
  margin-right: 20px;
}

.reminder-left p:first-child {
  font-size: 21px;
  margin-bottom: 3px;
}

.reminder-left p:last-child {
  font-size: 18px;
  color: grey;
  margin-top: 0px;
}

.reminder-category {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.reminder-right {
  display: flex;
  align-items: center;
}

.reminder-right img {
  width: 20px;
}
