.task-widget {
    border: 1px solid #e6e7eb;
    padding: 21px;
    position: fixed;
    top: 100px;
    right: 37px;
    background-color: white;
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
    width: 400px;
}

.done {
    text-decoration: line-through;
}

.close-icon {
    position: absolute;
    right: 15px;
}

.tasks-title {
    text-decoration: none;
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 20px;
    margin-left: 0px;
    align-self: flex-start;
    text-align: left;
    margin-right: 10px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border-top: 1px solid #e6e7eb;
    padding: 30px 0px;
}

.task div {
    padding: 0px 30px;
}

.task-title {
    font-size: 20px;
    margin: 0px !important;
    padding-right: 0px;
    width: 100px;
}

.task-description {
    width: auto;
    text-align: left;
    font-size: 20px;
    justify-self: flex-start;
    margin-left: -50px;
}

.task-icon {
    margin-right: 0px;
}
