.modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: auto;
    height: 100%;
    background-color: white;
    transition: right 0.6s ease;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    /* Simple box shadow */
}

.modal.open {
    right: 0;
}

.modal-toggle {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}