.modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: auto;
    max-height: 90vh;
    background-color: white;
    transition: right 0.6s ease;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
.center-modal {
    position: fixed;
    padding: 20px;
    min-width: 40%;
    min-height: 40%;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Initially hidden */
}

.center-modal.open {
    display: flex; /* Show the modal when it has the 'open' class */
}

.modal.open {
    right: 0;
}

.modal-toggle {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
}

.modal-toggle-right {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
}
