.btn {
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s linear;
}

.primary-btn {
    background-color: #0b1326;
    color: white;
}

.primary-btn:hover {
    background-color: #111d3b;
}

.secondary-btn {
    background-color: none;
    color: #0b1326;
    font-weight: 500;
    padding: 15px 20px;
}

.secondary-btn:hover {
    background-color: #f5f5f5;
    color: #0b1326;
}

.btn:disabled {
    background-color: #ccc;
    color: grey;
    cursor: not-allowed;
}

.back {
    margin-right: 15px;
    margin-top: 3px;
}
